.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

#imagemDePerfil {
    width: 191px;
    height: 179px;
    border-radius: 50%;
    margin: 0 auto;
}

#nomeB, #emailB {
    font-weight: bold;
    font-size: 32px;
}

#email, #nome {
    margin-top: -10px;
}

#logout {
    border: none;
    cursor: pointer;
    transition: .2s;
    background-color: var(--color-gray);
    width: 244px;
    height: 61px;
    margin: 80px auto 0 auto;
    border-radius: 25px;
    font-size: 20px;
}

#logout:hover {
    box-shadow: 0 0 5px #d1d1d1;
}