* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    z-index: 10000000;
}

.loading::before {
    content: "";
    width: 100px;
    height: 100px;
    border: 15px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading::after {
    content: "Carregando a api";
    margin-top: 30px;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dots {
    0%   { content: "Carregando a api"; }
    25%  { content: "Carregando a api."; }
    50%  { content: "Carregando a api.."; }
    75%  { content: "Carregando a api..."; }
    100% { content: "Carregando a api"; }
}