* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-gray: #4B4B4D;
    --color-blue: #1295C7;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loading {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    z-index: 10000000;
}

.loading::before {
    content: "";
    width: 100px;
    height: 100px;
    border: 15px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading::after {
    content: "Carregando a api";
    margin-top: 30px;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dots {
    0%   { content: "Carregando a api"; }
    25%  { content: "Carregando a api."; }
    50%  { content: "Carregando a api.."; }
    75%  { content: "Carregando a api..."; }
    100% { content: "Carregando a api"; }
}

.header {
    height: 76px;
    box-shadow: -1px 2px 19.3px 0px #00000040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header img {
    width: 132px;
}

#navbar{
    display: none;
}

.bottomMenu {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 100000;
    width: 100%;
}

.bottomMenu ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.bottomMenu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--color-gray);
    padding: 10px;
}

.bottomMenu span {
    font-size: 38px;
}

.bottomMenu li:nth-child(3) {
    background-color: var(--color-blue);
    width: 78px;
    border-radius: 100%;
    position: relative;
    bottom: 10px;
}

.bottomMenu .active {
    color: var(--color-blue);
}

/*  */


.list {
    display: flex;
    gap: 20px;
    list-style: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding-bottom: 8px;  
}


.item {
    width: 200px;
    height: 180px;
    position: relative;
    /* background-color: var(--color-gray); */
    background-position: center;
    border-radius: 15px;
    cursor: pointer;
    transition: .1s;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.item span {
    position: absolute;
    bottom: 0;
    margin: 10px 10px;
    color: #fff;
}

.item:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 10px #cccccc;
    filter: blur(0);
}

/*  */

section {
    padding-top: 10px;
}

section h1 {
    margin: 20px 0;
}

.courses-container, .events-container, .contacts-section {
    padding-left: 20px;
}

/* nos apoie */

.supportUs-container {
    padding: 0 20px;
}

.supportUs-container .text {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FDB813;
    border-radius: 20px;
    color: var(--color-gray);
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
}

.supportUs-container button {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #26913A;
    color: #fff;
    width: 230px;
    height: 60px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px auto 0 auto;
    font-size: 24px;
    font-weight: 700;
}

/* sobre nos */

.aboutUs-section h1 {
    margin-left: 20px;
}

.aboutUs-container {
    background-color: var(--color-blue);
    border-bottom-left-radius: 37%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.aboutUs-container img {
    width: 280px;
}

.aboutUs-container button {
    background-color: #FAF307;
    width: 200px;
    height: 40px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 25px;
    font-size: 20px;
    color: var(--color-gray);
}

/* contatos */

.contacts-section {
    padding-bottom: 130px;
}

.contacts-container ul {
    list-style: none;
    color: var(--color-gray);
    font-size: 16px;
}

.contacts-container li {
    display: flex;
    align-items: center;
}