.access-container {
    position: relative;
}

#access-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
}

#access-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#access-list li span {
    cursor: pointer;
}

#access-list input {
    width: 100%;
}

.access-container button:hover {
    transform: scale(1.02);
}

.deleteBtn {
    background-color: var(--color-red);
}

.btnCancel {
    background-color: var(--color-gray);
}

.btnSave {
    background-color: var(--color-green);
}

.editBtn {
    background-color: var(--color-gray);
}

.btns {
    display: flex;
    gap: 20px;
    margin: 0;
}

.btns button {
    font-size: 20px;
}

input {
    height: 57px;
    border: none;
    background-color: #D9D9D945;
    border-radius: 50px;
    padding: 0 30px;
    font-size: 18px;
    margin-top: 10px;
}