body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-color: #1295C7;
    --color-gray: #D9D9D9;
    --color-red: #FFC7C7;
    --color-green: #C6FF9A;
    --color-yellow: #F6EBA8;
    --color-blue: #96E2FF73;
}

.admin_container {
    height: 100vh;
}

.top_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
    position: relative;
}

.top_bar img {
    width: 254px;
}

.user-btn {
    position: absolute;
    right: 0;
    padding: 0 50px 0 85px;
    border-left: 1px solid #000;
    cursor: pointer;
    transition: .2s;
}

.user-btn:hover {
    color: var(--main-color);
}

.user-btn span {
    font-size: 58px;
}

.admin_content {
    display: flex;
    min-height: calc(100vh - 123px);
}

.newButton {
    position: fixed;
    background-color: #91268D;
    width: 99px;
    height: 95px;
    right: 0;
    bottom: 0;
    color: #ffffff;
    font-weight: lighter;
    border-radius: 100%;
    border: 0;
    margin: 70px 50px;
    cursor: pointer;
    transition: .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newButton:hover {
    box-shadow: 1px 1px 10px #989898;
}

.newButton span {
    font-size: 60px;
}

/* menu */

.sidebar_menu {
    width: 272px;
    text-align: center;
    box-shadow: 6px 0 10px -4px rgba(0, 0, 0, 0.3);
    padding-top: 30px;
}

.menu_item {
    padding: 0 20px;
}

.menu-item_btn {
    max-width: 240px;
    width: 100%;
    height: 51px;
    margin: 10px auto;
    text-align: left;
    border-radius: 15px;
    border: none;
    background-color: #00000000;
    font-size: 24px;
    cursor: pointer;
    transition: .1s;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.menu-item_btn:hover {
    background-color: var(--main-color);
    color: #fff;
}

.active {
    background-color: var(--main-color);
    color: #fff;
    cursor: default;
}

.activeProfile {
    color: var(--main-color);
    cursor: pointer;
}

.menu-item_icon {
    font-size: 35px;
}

.menu-item_btn img {
    width: 27px;
}

/*  */

.admin-content_container {
    max-width: 1140px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 100px;
    padding-right: 50px;
}

.drafts h1, .published h1, .trash h1 {
    margin: 20px 0;
}

.content {
    margin-left: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 30px;
    overflow-x: clip;
}

.list > .item > span:nth-child(2) {
    color: #4B4B4D;
    font-size: 24px;
    right: -10px;
    bottom: -35px;
    cursor: pointer;
    transition: .2s;
    background-color: #fff;
    border-radius: 100%;
}

.list > .item > span:nth-child(2):hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px #cccccc;
}

.list > .item {
    cursor: pointer;
    overflow: visible;
    position: relative;
}

.list > .item:hover {
    transform: none;
    box-shadow: 1px 1px 10px #cccccc;
}

.item-actions, .access-actions {
    display: none;
    flex-direction: column;
    position: relative;
    float: right;
    top: 55%;
    cursor: pointer;
    z-index: 1000;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.access-actions {
    top: 75px;
    position: absolute;
    left: -100px;
}

.item-actions > button, .access-actions > button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    padding: 0 20px;
    height: 50px;
    border: none;
    background-color: var(--color-gray);
    color: #000;
    transition: .2s;
    cursor: pointer;
}

.access-actions > button {
    justify-content: start;
}

.item-actions > button:hover, .access-actions > button:hover {
    background-color: #ededed;
}

.item-actions > button:nth-child(1), .access-actions > button:nth-child(1) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.item-actions > button:nth-child(2), .access-actions > button:nth-child(2) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.item-actions > button > span, .access-actions > button > span {
    position: relative;
    color: #000;
    margin-left: -5px;
}

.access-actions > button {
    gap: 10px;
}

.access-actions > button > span {
    font-size: 30px;
}

.item {
     width: 200px;
     height: 180px;
     position: relative;
     background-position: center;
     border-radius: 15px;
     cursor: pointer;
     transition: .1s;
     background-color: rgba(0, 0, 0, 0.5);
     background-blend-mode: darken;
     flex: 0 0 auto;
     scroll-snap-align: start;
}

.item span {
     position: absolute;
     bottom: 0;
     margin: 10px 10px;
     color: #fff;
}

.item:hover {
     transform: scale(1.02);
     box-shadow: 1px 1px 10px #cccccc;
     filter: blur(0);
}

/* contentForm */

.contentForm {
    display: none;
    margin: 40px;
}

.btns {
    margin: 50px 0 40px 0;
    display: flex;
    gap: 30px;
}

.btns button {
    width: 244px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 20px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: .1s;
}

.btns button:hover {
    transform: scale(1.02);
}

.btns button span:nth-child(0) {
    font-size: 38px;
}

.previewBtn {
    background-color: var(--color-green);
}

.saveBtn, .editBtn {
    background-color: var(--color-blue);
}

#dontSave, #deleteBtn, .deleteBtn {
    background-color: var(--color-red);
}

.back {
    font-size: 38px;
    cursor: pointer;
    transition: .2s;
}

.back:hover {
    transform: scale(1.1);
}

/* form */

.contentForm {
    padding-bottom: 60px;
    max-width: 900px;
    width: 100%;
}

.contentForm_title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

form {
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input, form textarea {
    height: 57px;
    border: none;
    background-color: #D9D9D945;
    border-radius: 50px;
    padding: 0 30px;
    font-size: 18px;
    margin-top: 10px;
}

form span, form label {
    font-weight: 700;
    font-size: 24px;
}

.custom-btn {
    width: 420px;
    height: 240px;
    border-radius: 0;
    background-color: #D9D9D945;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    color: #4B4B4D;
}

.custom-btn span {
    font-size: 150px;
}

.custom-file_preview {
    width: 420px;
    height: 240px;
    cursor: pointer;
}

.custom-img_container {
    height: auto;
}

#file, #aboutUs-file {
    display: none;
}

.description-input, .title-input, .instagram-input, .whatsapp-input, .endereco-input {
    display: flex;
    flex-direction: column;
}

.instagram-input, .whatsapp-input {
    border-right: 1px solid #686868;
    padding-right: 10px;
}

.contactInputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#description {
    height: 218px;
    background-color: #D9D9D945;
    border: none;
    padding: 15px;
}

.preview-description * {
    margin: revert;
    padding: revert;
}

.preview-description > table, tr, td, th {
    border: 1px solid #000;
}

.preview-description > pre, code {
    background-color: var(--color-gray);
    padding: 15px;
}

.modal {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #00000080;
    z-index: 10000001;
    top: 0;
}

.modal-container {
    width: 645px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 50px;
}

#save-modal > .modal-container {
    gap: 70px;
}

.modal-container > h1 {
    width: 550px;
}

.modal-container > span {
    color: #00000066;
    width: 450px;
}

.modal-container > .btns {
    width: auto;
    gap: 20px;
    margin: 0;
}

.modal-container > .btns > .save {
    justify-content: center;
}

#trash-modal .modal-container span {
    font-size: 100px;
    color: #4B4B4D;
}


/* preview */

.previewContent {
    display: none;
    width: 100%;
}

.previewContent > h1 {
    height: 120px;
    width: 100%;
    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #988E58;
}

.previewContent > h1 > span {
    left: 50px;
    position: absolute;
}

.previewContent .btns {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 20px;
}

.preview {
    width: 916px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.previewContent a {
    text-decoration: underline;
    color: #003cff;
}

.previewImg {
    margin: 0 auto;
    max-width: 916px;
    width: 70%;
}

.preview-texts {
    margin: 20px 0 50px 0;
    border: 1px solid #4B4B4D2E;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preview-title {
    font-size: 40px;
    font-weight: 700;
}

.preview-dates {
    font-size: 24px;
    color: #00000059;
}

#publish {
    background-color: var(--color-green);
}

.admin-nullContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* markdown menu */

.markdownContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
}

.markdownBtns {
    display: flex;
    top: 0;
    position: sticky;
    background: #fff;
}

.markdownBtns button {
    min-width: 50px;
    padding: .5rem 1rem;
    border-radius: 0;
    border: none;
    background-color: var(--color-gray);
    color: #000;
    cursor: pointer;
    transition: .3s;
}

.markdownBtns button:hover {
    background-color: var(--color-green);
}

.markdown-help {
  cursor: pointer;
  font-size: 18px;
  background-color: var(--color-gray);
  padding: 5px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.markdown-tooltip {
    position: absolute;
    background: #222;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    width: 500px;
    font-size: 14px;
    z-index: 1000;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.markdown-help-wrapper:hover .markdown-tooltip,
.markdown-help-wrapper:focus-within .markdown-tooltip {
    opacity: 1;
    visibility: visible;
}

.markdown-tooltip code {
    background: none;
    padding: 0;
}

.markdown-tooltip hr {
    margin: 10px 0;
}

.markdown-tooltip h3 {
    margin-bottom: 5px;
}