.top_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
    box-shadow: -1px 2px 19.3px 0px #00000040;
    position: relative;
}

.top_bar img {
    width: 254px;
}

.user-btn {
    position: absolute;
    right: 0;
    padding: 0 50px 0 25px;
    border-left: 1px solid #000;
}

.user-btn span {
    font-size: 58px;
}