body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-color: #1295C7;
    --color-gray: #D9D9D9;
    --color-red: #FFC7C7;
    --color-green: #C6FF9A;
    --color-yellow: #F6EBA8;
    --color-blue: #00ACEE8C;
}

.admin_container {
    height: 100vh;
}

.top_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
    box-shadow: -1px 2px 19.3px 0px #00000040;
    position: relative;
}

.top_bar img {
    width: 254px;
}

.user-btn {
    position: absolute;
    right: 0;
    padding: 0 50px 0 25px;
    border-left: 1px solid #000;
    cursor: pointer;
    transition: .2s;
}

.user-btn:hover {
    color: var(--main-color);
}

.user-btn span {
    font-size: 58px;
}

.admin_content {
    display: flex;
    min-height: calc(100vh - 123px);
}

.newButton {
    position: fixed;
    background-color: #91268D;
    width: 99px;
    height: 99px;
    right: 0;
    bottom: 0;
    color: #FFA9FC;
    font-size: 57px;
    border-radius: 100%;
    border: 0;
    margin: 70px 50px;
    cursor: pointer;
    transition: .1s;
}

.newButton:hover {
    box-shadow: 1px 1px 10px #989898;
}

/* menu */

.sidebar_menu {
    width: 272px;
    text-align: center;
    box-shadow: -1px 2px 19.3px 0px #00000040;
    padding-top: 30px;
}

.menu-item_btn {
    width: 240px;
    height: 51px;
    margin: 10px auto;
    text-align: left;
    border-radius: 15px;
    border: none;
    background-color: #00000000;
    font-size: 24px;
    cursor: pointer;
    transition: .1s;
    display: flex;
    align-items: center;
}

.menu-item_btn:hover {
    background-color: var(--main-color);
    color: #fff;
}

.active {
    background-color: var(--main-color);
    color: #fff;
    cursor: default;
}

.activeProfile {
    color: var(--main-color);
    cursor: default;
}

.menu-item_icon {
    font-size: 35px;
    margin: 0 20px;
}

/*  */

.admin-content_container {
    max-width: 900px;
    width: 100%;
    margin-top: 30px;
}

.drafts h1, .published h1, .trash h1 {
    margin: 20px 0;
}

.content {
    margin-left: 20px;
}

.list {
    flex-wrap: wrap;
    margin: 40px 0;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagemDePerfil {
    margin: 20px 0;
}

#email {
    margin: 5px 0;
}

#logout {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

#logout:hover {
    background-color: #d0d0d0;
}

.underConstruction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.underConstruction h2 {
    margin: 15px 0 5px 0;
}

/* contentForm */

.contentForm {
    display: none;
    margin: 40px 0 0 40px;
}

.btns {
    margin: 50px 0 40px 0;
    display: flex;
    gap: 30px;
}

.btns button {
    width: 244px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 20px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: .1s;
}

.btns button:hover {
    transform: scale(1.02);
}

.btns button span {
    font-size: 38px;
}

.saveBtn, #editBtn, #previewBtn {
    background-color: var(--color-green);
}

#dontSave {
    background-color: var(--color-red);
}

.back {
    font-size: 38px;
    cursor: pointer;
    transition: .2s;
}

.back:hover {
    transform: scale(1.1);
}

/* form */

.contentForm {
    padding-bottom: 60px;
}

.contentForm_title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

form input {
    height: 57px;
    border: none;
    background-color: #D9D9D945;
    border-radius: 50px;
    padding: 0 30px;
    font-size: 18px;
    margin-top: 10px;
}

form span, form label {
    font-weight: 700;
    font-size: 24px;
}

.custom-btn {
    width: 420px;
    height: 240px;
    border-radius: 0;
    background-color: #D9D9D945;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    color: #4B4B4D;
    margin: 40px auto;
}

.custom-btn span {
    font-size: 150px;
}

.custom-file_preview {
    width: 420px;
    height: 240px;
}

#file {
    display: none;
}

.description-input, .title-input {
    display: flex;
    flex-direction: column;
}

#description {
    height: 218px;
    background-color: #D9D9D945;
    border: none;
    margin-top: 10px;
    padding: 15px;
}

.preview-description * {
    margin: revert;
    padding: revert;
}

.preview-description > table, tr, td, th {
    border: 1px solid #000;
}

.preview-description > pre, code {
    background-color: var(--color-gray);
    padding: 15px;
}


.modal {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #00000080;
    z-index: 10000001;
    top: 0;
}

.modal-container {
    width: 645px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 50px;
}

#save-modal > .modal-container {
    gap: 70px;
}

.modal-container > h1 {
    width: 550px;
}

.modal-container > span {
    color: #00000066;
    width: 450px;
}

.modal-container > .btns {
    width: auto;
    gap: 20px;
    margin: 0;
}

.modal-container > .btns > .save {
    justify-content: center;
}

#trash-modal .modal-container span {
    font-size: 100px;
    color: #4B4B4D;
}


/* preview */

.previewContent {
    display: none;
    width: 100%;
}

.previewContent > h1 {
    height: 120px;
    width: 100%;
    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #988E58;
}

.previewContent > h1 > span {
    left: 50px;
    position: absolute;
}

.previewContent .btns {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 20px;
}

.preview {
    width: 916px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.previewImg {
    margin: 0 auto;
}

.preview-texts {
    margin: 20px 0 50px 0;
    border: 1px solid #4B4B4D2E;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preview-title {
    font-size: 40px;
    font-weight: 700;
}

.preview-dates {
    font-size: 24px;
    color: #00000059;
}

#publish {
    background-color: var(--color-green);
}