.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}

.item {
    width: 200px;
    height: 180px;
    position: relative;
    background-color: var(--color-gray);
    border-radius: 15px;
    cursor: pointer;
    transition: .1s;
}

.item span {
    position: absolute;
    bottom: 0;
    margin: 10px 10px;
}

.item:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 10px #cccccc;
}

.drafts, .published {
    margin-left: 20px;
}