/* form */

.top_form {
    display: flex;
}

.top-right_form {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-input {
    display: flex;
    flex-direction: column;
}

#title {
    width: 420px;
}

.date_inputs {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.date_inputs span {
    font-size: 18px;
}

input[type=date] {
    width: 188px;
}

.custom-btn {
    margin: 0;
}

.description-input {
    margin-top: 30px;
    min-height: 200px;
    overflow: hidden;
    resize: none;
}

/* preview */

.previewContent {
    display: none;
    width: 100%;
}

.previewContent > h1 {
    height: 120px;
    width: 100%;
    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #988E58;
}

.previewContent .btns {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 20px;
}

.preview {
    width: 916px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.previewImg {
    margin: 0 auto;
}

.preview-texts {
    margin: 20px 0 50px 0;
    border: 1px solid #4B4B4D2E;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preview-title {
    font-size: 40px;
    font-weight: 700;
}

.preview-dates {
    font-size: 24px;
    color: #00000059;
}

#edit {
    background-color: var(--color-blue);
}

#publish {
    background-color: var(--color-green);
}