.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 40px 0;
}

.item {
    color: #4B4B4D;
    cursor: pointer;
    transition: .1s;
}

.item:hover {
    transform: scale(1.02);
}

.file {
    height: 204px;
    background-color: #d9d9d9;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.item h2 {
    font-size: 20px;
    margin: 20px 0;
}

.item span {
    font-size: 16px;
    font-weight: 16px;
}

.drafts, .published {
    margin-left: 20px;
}

.admin-content_container {
    max-width: 1300px;
}