.cleanBtn {
    width: 244px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 20px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: .1s;
    background-color: var(--color-red);;
}

.cleanBtn:hover {
    transform: scale(1.02);
    background-color: #ff5151;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}