/* ===============================
   RESET E BASE
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-gray: #4B4B4D;
    --color-blue: #1295C7;
}

body {
    
}

/* ===============================
   CURSOS
================================ */

.courses-section {
    padding: 20px;
    padding-bottom: 130px;
}

.courses-section h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.courses-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    list-style: none;
}

/* ===============================
   CARD DE CURSO
================================ */

.item {
    height: 140px;
    border-radius: 14px;
    background-color: #E0E0E0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    position: relative;
    cursor: pointer;
    width: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* REMOVE overlay escuro */
.item::before {
    display: none;
}

/* TÍTULO */
.item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;

    font-size: 13px;
    font-weight: 500;
    color: #333;
    line-height: 1.2;
}

/* Hover leve */
.item:hover {
    transform: translateY(-2px);
}