/* ===============================
   RESET E BASE
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-gray: #4B4B4D;
    --color-blue: #1295C7;
}

/* ===============================
   CURSOS
================================ */

.courses-section {
    padding: 20px;
    padding-bottom: 130px;
}

.courses-section h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.courses-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-items: center;
}




/* ===============================
   CARD DE CURSO
================================ */

.item {
    width: 100%;
    max-width: 420px; 
    height: 160px;
    border-radius: 14px;
    background-color: #E0E0E0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    overflow: hidden;
}


/* TÍTULO */
.item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
    z-index: 1;
}

/* Hover leve */
.item:hover {
    transform: translateY(-2px);
}

.courses-list {
    display: flex;
    gap: 20px;
    list-style: none;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5px;
    flex-wrap: wrap;
    border-radius: 10px;
}

@media screen and (max-width: 920px) {
    .courses-list {
        justify-content: center;
    }
}