.event-details {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== HEADER ===== */
.eventos-details-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 16px;
  border-bottom: 1px solid #eee;
  position: relative;
  background: #fff;
}

/* BOTÃO VOLTAR */
.header-back {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-back span {
  font-size: 28px;
  color: #333;
}

/* ===== CONTEÚDO ===== */
.event-details h1 {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: left;
}

.event-details-image {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 16px;
  object-fit: cover;
}

.event-details-content {
  padding: 16px;
  border: #3333333a 1px solid;
  margin-top: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.6s ease-out;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-details-content p {
  margin-bottom: 12px;
}

.event-details-content img, .event-details-content video {
  width: 70%;
}

@media screen and (max-width: 849px) {
  .eventos-desktop{
    display: none;
  }
  
}

@media screen and (min-width: 850px) {
  .eventos-details-header{
    display: none;
  }
  .eventos-desktop {
        position: sticky;
        top: 0;
        z-index: 10000000;
        background-color: #fff;
    }   
        
    #navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 3%;
    }

    #nav_list {
        display: flex;
        list-style: none;
        gap: 50px;
    }

    .nav-item a{
        text-decoration: none;
        color: #1d1d1dad;
        font-weight: 600;
    }

    .nav-item.active a{
        color: #1d1d1dad;
        border-bottom: 3px solid #1295C7;
    }

    .container {
        max-width: 850px;
        width: 100%;
        margin: 0 auto !important;
    }
}