@media screen and (min-width: 850px) {
    .bottomMenu{
        display: none;
    }

    .header {
        position: sticky;
        top: 0;
        z-index: 10000000;
        background-color: #fff;
    }   
        
    #navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 3%;
    }

    #nav_list {
        display: flex;
        list-style: none;
        gap: 50px;
    }

    .nav-item a{
        text-decoration: none;
        color: #1d1d1dad;
        font-weight: 600;
    }

    .nav-item.active a{
        color: #1d1d1dad;
        border-bottom: 3px solid #1295C7;
    }
}
